<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <mediaLibrary>
      <mediaTypes>
        <mediaType name="WEBP image" extensions="webp" patch:after="mediaType[@name='JPEG image']">
          <mimeType>image/webp</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/webP</sharedTemplate>
          <versionedTemplate>system/media/versioned/webP</versionedTemplate>
          <mediaValidator type="Sitecore.Resources.Media.ImageValidator" />
          <thumbnails>
            <generator type="Foundation.Sitecore.WebP.Upload.Media.WebPImageThumbnailGenerator, Foundation.Sitecore.WebP.Upload">
              <extension>png</extension>
            </generator>
            <width>150</width>
            <height>150</height>
            <backgroundColor>#FFFFFF</backgroundColor>
          </thumbnails>
          <prototypes>
            <media type="Foundation.Sitecore.WebP.Upload.Media.WebPImageMedia, Foundation.Sitecore.WebP.Upload" />
          </prototypes>
        </mediaType>
      </mediaTypes>
    </mediaLibrary>
  </sitecore>
</configuration>
